*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.header{
    padding: 10px;
}
.header__nav{
    display: flex;
    width: 200px;
    justify-content: space-between;
    padding-bottom: 2rem;
}
.topics{
    padding: 10px;
}
.topics__nav{
    display:flex;
    flex-direction: column;
}
.welcome{
    padding: 10px;
}
@media screen and (min-width:1000px){
    .container{
        width: 85%;
        max-width: 1400px;
        min-width:1000px;
        margin: 15px auto;
    }
}
.post__content{
    padding: 1rem;
}
.main-content{
    padding: 1rem;
}
.post__topic-title{
    padding-bottom: 20px;
}