<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${postToShow.title}">Document</title>
    <link rel="icon" href="/assets/icon.png">
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/layout.css" />
</head>

<body>
    <div class="container">
        <header class="header">
            <h1 class="header__title">Surviving Coding Boot Camp</h1>
            <nav class="header__nav">
                <div class="header__nav-item"><a href="/" class="header__nav-link">Home</a></div>
                <div class="header__nav-item"><a href="/all-hashtags" class="header__nav-link">Hashtags</a></div>
            </nav>
        </header>
        <main class="main-content">
            <section class="main-content__post post">
                <h3 class="post__topic-title main-content__topic-title"><a th:text="${postToShow.topic.name}" th:href="'/topics/'+${postToShow.topic.id}" class="main-content__topic-link post__topic-link">Topic</a>
                    </h3>
                <h2 th:text="${postToShow.title}" class="post__title main-content__topic-title">Post Title</h2>
                <h3 th:text="${postToShow.author}" class="post_author">Author</h3>
                <p th:text="${postToShow.content}" class="post__content">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloremque blanditiis, aut quae fuga id quis ut.
                    Eligendi necessitatibus blanditiis officia, odio deleniti natus molestiae fugiat ex quod vel aliquam illum.
                </p>
                <br>
                <button class="hashtags_displayed" th:each="hashtag:${postToShow.hashtags}"><a th:text="${hashtag.tagName}"
                                                                th:href="'/hashtag/' + ${hashtag.id}">#Beginner</a></button>

        <br>

            <form class="add_hashtag" action="/hashtags/add" method="POST">
                <label for="newHashtag">Tag this:</label><br>
                <input type="text" name="tagName" id="newHashtag" value="#">
            <br>
                <input type="hidden" th:value="${postToShow.id}" name="id">
                <button type="submit" formaction="/hashtags/add" formmethod="POST" value="Submit using POST">#addhashtag</button>
            </form>
            </section>
        </main>
    </div>

</body>

</html>